<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="#" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Shopping Basket - Developed by Reza Geshani"
    />
    <link href="{{url_for('static' , filename='style/style.css')}}" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+شnuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <!-- icon  -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

  </head>
    <title>{% block title %}shop{% endblock title %}</title>
</head>
<body>
    
    <header class="main-header">
        
        <nav class="main-nav">
            <ul>
                <li><a href="{{url_for('index')}}"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="{{url_for('show_product')}}"><i class="fas fa-box"></i> Products</a></li>
                <li><a href="#"><i class="fas fa-envelope"></i> Contact Us</a></li>
                <li><a href="{{url_for('adding_product')}}"><i class="fas fa-envelope"></i> add product</a></li>
                
            </ul>
        </nav>
        <div class="icons-header">
            <button class="Btn">  
            <div class="sign"><svg viewBox="0 0 512 512"><path d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z"></path></svg></div>            <div class="text">Login</div>
          </button>
            <div class="container">
        <input checked="" class="checkbox" type="checkbox"> 
        <div class="mainbox">
            <div class="iconContainer">
                <svg viewBox="0 0 512 512" height="1em" xmlns="http://www.w3.org/2000/svg" class="search_icon"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></path></svg>
            </div>
         <input class="search_input" placeholder="search" type="text">
        </div>
    </div>
</div>      
        </div>
        
    </header>
    {% block content %}
    
    {% endblock content %}

    {% block contact_us %}{% endblock contact_us %}

    
    {% block footer %}{% endblock footer %}
     <footer>
      <div class="container footer-main">
        <div >
          <h2>about us</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure,
            voluptatem.
          </p>
        </div>

        <div class="social">
          <h2>agrin social media</h2>
          <div class="box-icon d-flex align-items-center">
            <a
              href="https://www.instagram.com/agrin"
              class="icons text-decoration-none mx-1 shadow justify-content-center align-items-center d-flex"
            >
              <i class="bx bxl-instagram icon"></i>
              <span class="icon-id">@agrin</span>
            </a>

            <a
              href="https://www.t.me/agrin"
              class="icons text-decoration-none mx-1 shadow justify-content-center align-items-center d-flex"
            >
              <i class="bx bxl-telegram icon"></i>
              <span class="icon-id">@agrin</span>
            </a>

            <a
              href="tel:+9122222"
              class="icons text-decoration-none mx-1 shadow justify-content-center align-items-center d-flex"
            >
              <i class="bx bx-phone icon"></i>
              <span class="icon-id">+912</span>
            </a>
          </div>
        </div>
        <div class="">
          <h2>location</h2>
          <p>Iran , tehran ,jordan ,st 45</p>
        </div>
      </div>
    </footer>

    


</body>
