{% extends "base.html" %}

{% block title %}products{% endblock title %}

{% block content %}
<section class="products">
    <div class="section-title">
        <h2>Our Products</h2>
    </div>
    <!-- Single product -->
    <div class="products-center">
        {% for product in product_data['data'] %}
        <div class="product">
            <div class="img-container">
                <img src="{{ product['imageUrl'] }}" class="product-img" alt="{{ product['title'] }}" />
            </div>
            <div class="product-desc">
                <p class="product-price">$ {{ product['price'] }}</p>
                <p class="product-title">{{ product['title'] }}</p>
            </div>
            <button class="btn add-to-cart">
                <i class="fas fa-shopping-cart"></i>
                Add to Cart
            </button>
        </div>
        {% endfor %}
    </div>
</section>
<!-- Cart section -->
<section class="cart-center">
    <div class="backdrop"></div>
    <div class="cart">
        <h3 class="cart-title">Your Cart</h3>
        <div class="cart-content">
            <!-- Single item (you can add cart items here) -->
        </div>
        <div class="cart-footer">
            <span class="cart-total">Total Price: $90</span>
            <button class="btn clear-cart">Clear Cart</button>
            <button class="btn cart-item-confirm">Confirm</button>
        </div>
    </div>
</section>
{% endblock %}




